<div>
  <div>
    <h1>
      List of all questions
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new question
    </h2>

    <form action="/insert_question" method="post">
      <div>
        <label for="question_box">
          Question
        </label>

        <input type="text" id="question_box" name="query_question">
      </div>

      <div>
        <label for="input_type_box">
          Input type
        </label>

        <input type="text" id="input_type_box" name="query_input_type">
      </div>

      <div>
        <label for="answer_options_box">
          Answer options
        </label>

        <input type="text" id="answer_options_box" name="query_answer_options">
      </div>

      <button>
        Create question
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Question
        </th>

        <th>
          Input type
        </th>

        <th>
          Answer options
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_questions.each do |a_question| %>
      <tr>
        <td>
          <%= a_question.id %>
        </td>

        <td>
          <%= a_question.question %>
        </td>

        <td>
          <%= a_question.input_type %>
        </td>

        <td>
          <%= a_question.answer_options %>
        </td>

        <td>
          <%= time_ago_in_words(a_question.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_question.updated_at) %> ago
        </td>

        <td>
          <a href="/questions/<%= a_question.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
