<div class="row">
<div class="row mt-2">
</div>
  <div class="col">
    <h4 class="lessonheader">Up Next</h4>
  </div>
  <div class="col text-end mt-1">
    <a href="/lessons" class="morebtn">More Lessons <i class="fas fa-angle-right"></i></a>
  </div>
</div>

<% @current_user.next_education_lesson.each do |a_lesson| %>

  <%= render "/dashboard/educationlessoncard", {:the_lesson => a_lesson} %>

<% end %>

<% @current_user.next_exercise_lesson.each do |a_lesson| %>

  <%= render "/dashboard/exerciselessoncard", {:the_lesson => a_lesson} %>

<% end %>

<div class="row mt-4">
  <div class="col-7">
    <h4 class="goalheader">Goals</h4>
  </div>
  <div class="col-5 text-end mt-1">
    <a href="/goals" class="morebtn">More Goals <i class="fas fa-angle-right"></i></a>
  </div>
</div>

<% @current_user.goals.each do |a_goal| %>

  <%= render "/dashboard/goalcard", {:the_goal => a_goal} %>

<% end %>

<div class="row mt-3" style="padding-left: 10px; padding-right: 10px">
  
  <button class="btn newgoalcard" data-bs-toggle="offcanvas" data-bs-target="#selectgoalcategory" aria-controls="selectgoalcategory">
    <div class="row mt-1">  
      <div class="col">
        <a>Set new goal</a>
      </div>
      <div class="col text-end">
      <i class="fas fa-plus fa-fw"></i>
      </div>
    </div>
    <div class="row mt-1">
    </div>
  </button>

</div>

  <%= render "dashboard/newgoaloffcanvas.html.erb" %>
  <%= render "dashboard/painscoreoffcanvas.html.erb" %>
      