<div class="row mt-5">

  <div class="col">
  </div>

  <div class="col-md-4">
    <div class="progress" style="height: 4px;">
      <div class="progress-bar" role="progressbar" style="width: <%= @list_of_questions.at(@q_id.to_i - 1).id * 100 / 23 %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <div class="col">
  </div>

</div>

<div class="row mt-2">

  <div class="col">
  </div>

  <div class="col-md-4 text-center">
    <h6>User Profile</h6>
  </div>

  <div class="col">
  </div>
</div>

<div class="row mt-5">

  <div class="col">
  </div>

  <div class="col-md-4 text-center">
    <label for="<%= @list_of_questions.at(@q_id.to_i - 1)%>_box">
      <%= @list_of_questions.at(@q_id.to_i - 1).question %>
    </label>
  </div>

  <div class="col">
  </div>
</div>

<% if @list_of_questions.at(@q_id.to_i - 1).input_type == "date" %>
<div class="row mt-4">

  <div class="col">
  </div>

  <div class="col-md-4 text-center d-grid">
    <input type="date" id="<%= @list_of_questions.at(@q_id.to_i - 1)%>_box" name="query_<%= @list_of_questions.at(@q_id.to_i - 1)%>">
  </div>

  <div class="col">
  </div>
</div>
<% end %>


<% @list_of_questions.at(@q_id.to_i - 1).answer_options.split(",").each do |a_option| %>
<div class="row mt-4">

  <div class="col">
  </div>

  <div class="col-md-4 text-center d-grid">
    
    <%# if @list_of_questions.at(@q_id.to_i - 1).input_type == "Select" %>
    <input type="checkbox" class="btn-check" id="<%= a_option %>" autocomplete="off">
    <label class="btn btn-outline-primary btn-lg" for="<%= a_option %>"><%= a_option %></label>
    <%# end %> 

  </div>

  <div class="col">
  </div>
</div>
<% end %>

<div class="row mt-4 mb-4">
  <div class="col">
  </div>

  <div class="col-md-4 text-center d-grid">
    <% if @list_of_questions.at(@q_id.to_i - 1).input_type == "Select_Multi" || @list_of_questions.at(@q_id.to_i - 1).input_type == "date"%>
      <a href="/new_user_survey/<%=@q_id.to_i + 1%>" class="btn btn-primary btn-lg">Next</a>
    <% end %>
  </div>

  <div class="col">
  </div>
</div>
