<div class="row">
<div class="row mt-4">
  <div class="col text-center">
    <img src="/PN_transparent.png" class="img-fluid" width="200" height="24">
  </div>
</div>
</div>

<div class="row mt-3">

  <div class="col">
  </div>

  <div class="col-md-4 mt-2">
    <div class="progress" style="height: 10px;">
      <div class="progress-bar" role="progressbar" style="background-color: #61C7ED; width: <%= @q.id * 100 / 23 %>%;" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <div class="col">
  </div>

</div>

<div class="row mt-4">

  <div class="col">
  </div>

  <div class="col-md-4 text-center">
    <h1>Profile</h1>
  </div>

  <div class="col">
  </div>
</div>

<div class="row mt-3">

  <div class="col">
  </div>

  <div class="col-md-4 text-center">
    <h5>
      <%= @q.question %> <% if @q.id == 6 || @q.id == 7 %> <%= @the_new_user_survey.q_5 %>? <% end %>
    </h5>
  </div>

  <div class="col">
  </div>
</div>

<% if @q.input_type == "Date" %>
<div class="row mt-4">

  <div class="col">
  </div>

  
  <div class="col-md-4 text-center d-grid needs-validation" novalidate>
  <form action="/new_user/<%=@q.id.to_i+1%>">
    <input type="date" class="form-control textinput" id="<%= @q.id %>_box" name="query_q_<%= @q.id %>" required>
     <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col">
  </div>
</div>

<% end %>

<% if @q.id == 5 %>

<form action="/new_user/<%=@q.id+1%>">

<div class="row mt-4">

  <div class="col">
  </div>

  <div class="col-md-4 text-center d-grid">


    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected>Select Medication</option>
      <% Medication.all.each do |a_medication| %>
      <option value="<%=a_medication.id%>"><%=a_medication.medication%></option>
      <% end %>
    </select>

  </div>

  <div class="col">
  </div>
</div>
</form> 
<% end %>

<% if @q.input_type == "Select" && !@q.answer_options.nil? %>

<% @q.answer_options.strip.split(",").each do |a_option| %>

<form action="/new_user/<%=@q.id+1%>">

<div class="row mt-4">

  <div class="col">
  </div>

  <div class="col-md-4 text-center d-grid">
      <input type="hidden" value="<%= a_option %>" name="query_q_<%=@q.id%>">
      <button class="btn btn-outline btn-lg homebtn" type="submit"><%= a_option %></button>
  </div>

  <div class="col">
  </div>
</div>
</form> 
<% end %>
<% end %>

<% if @q.input_type == "Range" %>

<div class="row text-center">
  
    <a class="rangetext">After this episode my pain was a</a>
    
    <output id="<%=@q.id_output%>"></output> 
    
    <a class="rangetext">out of 10</a>

</div>

<form action="/pain_diary/<%=@q.id+1%>">


  <div class="row homebtncol mt-3">
    <input type="range" class="form-range painscorerange" style="color: white" id="<%=@q.id_input%>" name="query_pain_score" min="0" max="10">
  </div>

  <div class="row mt-4 homebtncol mt-5">
    <div class="d-grid gap-2">
      <button class="btn homebtn">Next</button>
    </div>
  </div>

  </form>

</div>
</div>

<script>

let i = document.querySelector('#<%= @q.id_input %>'),
    o = document.querySelector('#<%= @q.id_output %>');
    o.innerHTML = i.value;

i.addEventListener('input', function () {
  o.innerHTML = i.value;
}, false);

</script>

<% end %>


<div class="row mt-4 mb-4">
  <div class="col">
  </div>

  <div class="col-md-4 text-center d-grid">
    <% if @q.input_type == "Date"%>
      <button class="btn btn-primary homebtn">Next</button>
    <% end %>
    </form>
  </div>

  <div class="col">
  </div>
</div>
