<div>
  <div>
    <h1>
      New user survey #<%= @the_new_user_survey.id %> details
    </h1>

    <div>
      <div>
        <a href="/new_user_surveys">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_new_user_survey/<%= @the_new_user_survey.id %>">
          Delete new user survey
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_new_user_survey.user_id %>
      </dd>

      <dt>
        Q 1
      </dt>
      <dd>
        <%= @the_new_user_survey.q_1 %>
      </dd>

      <dt>
        Q 2
      </dt>
      <dd>
        <%= @the_new_user_survey.q_2 %>
      </dd>

      <dt>
        Q 3
      </dt>
      <dd>
        <%= @the_new_user_survey.q_3 %>
      </dd>

      <dt>
        Q 4
      </dt>
      <dd>
        <%= @the_new_user_survey.q_4 %>
      </dd>

      <dt>
        Q 5
      </dt>
      <dd>
        <%= @the_new_user_survey.q_5 %>
      </dd>

      <dt>
        Q 6
      </dt>
      <dd>
        <%= @the_new_user_survey.q_6 %>
      </dd>

      <dt>
        Q 7
      </dt>
      <dd>
        <%= @the_new_user_survey.q_7 %>
      </dd>

      <dt>
        Q 8
      </dt>
      <dd>
        <%= @the_new_user_survey.q_8 %>
      </dd>

      <dt>
        Q 9
      </dt>
      <dd>
        <%= @the_new_user_survey.q_9 %>
      </dd>

      <dt>
        Q 10
      </dt>
      <dd>
        <%= @the_new_user_survey.q_10 %>
      </dd>

      <dt>
        Q 11
      </dt>
      <dd>
        <%= @the_new_user_survey.q_11 %>
      </dd>

      <dt>
        Q 12
      </dt>
      <dd>
        <%= @the_new_user_survey.q_12 %>
      </dd>

      <dt>
        Q 13
      </dt>
      <dd>
        <%= @the_new_user_survey.q_13 %>
      </dd>

      <dt>
        Q 14
      </dt>
      <dd>
        <%= @the_new_user_survey.q_14 %>
      </dd>

      <dt>
        Q 15
      </dt>
      <dd>
        <%= @the_new_user_survey.q_15 %>
      </dd>

      <dt>
        Q 16
      </dt>
      <dd>
        <%= @the_new_user_survey.q_16 %>
      </dd>

      <dt>
        Q 17
      </dt>
      <dd>
        <%= @the_new_user_survey.q_17 %>
      </dd>

      <dt>
        Q 18
      </dt>
      <dd>
        <%= @the_new_user_survey.q_18 %>
      </dd>

      <dt>
        Q 19
      </dt>
      <dd>
        <%= @the_new_user_survey.q_19 %>
      </dd>

      <dt>
        Q 20
      </dt>
      <dd>
        <%= @the_new_user_survey.q_20 %>
      </dd>

      <dt>
        Q 21
      </dt>
      <dd>
        <%= @the_new_user_survey.q_21 %>
      </dd>

      <dt>
        Q 22
      </dt>
      <dd>
        <%= @the_new_user_survey.q_22 %>
      </dd>

      <dt>
        Q 23
      </dt>
      <dd>
        <%= @the_new_user_survey.q_23 %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_new_user_survey.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_new_user_survey.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit new user survey
    </h2>

    <form action="/modify_new_user_survey/<%= @the_new_user_survey.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_new_user_survey.user_id %>">
      </div>

      <div>
        <label for="q_1_box">
          Q 1
        </label>

        <input type="text" id="q_1_box" name="query_q_1" value="<%= @the_new_user_survey.q_1 %>">
      </div>

      <div>
        <label for="q_2_box">
          Q 2
        </label>

        <input type="text" id="q_2_box" name="query_q_2" value="<%= @the_new_user_survey.q_2 %>">
      </div>

      <div>
        <label for="q_3_box">
          Q 3
        </label>

        <input type="text" id="q_3_box" name="query_q_3" value="<%= @the_new_user_survey.q_3 %>">
      </div>

      <div>
        <label for="q_4_box">
          Q 4
        </label>

        <input type="text" id="q_4_box" name="query_q_4" value="<%= @the_new_user_survey.q_4 %>">
      </div>

      <div>
        <label for="q_5_box">
          Q 5
        </label>

        <input type="text" id="q_5_box" name="query_q_5" value="<%= @the_new_user_survey.q_5 %>">
      </div>

      <div>
        <label for="q_6_box">
          Q 6
        </label>

        <input type="text" id="q_6_box" name="query_q_6" value="<%= @the_new_user_survey.q_6 %>">
      </div>

      <div>
        <label for="q_7_box">
          Q 7
        </label>

        <input type="text" id="q_7_box" name="query_q_7" value="<%= @the_new_user_survey.q_7 %>">
      </div>

      <div>
        <label for="q_8_box">
          Q 8
        </label>

        <input type="text" id="q_8_box" name="query_q_8" value="<%= @the_new_user_survey.q_8 %>">
      </div>

      <div>
        <label for="q_9_box">
          Q 9
        </label>

        <input type="text" id="q_9_box" name="query_q_9" value="<%= @the_new_user_survey.q_9 %>">
      </div>

      <div>
        <label for="q_10_box">
          Q 10
        </label>

        <input type="text" id="q_10_box" name="query_q_10" value="<%= @the_new_user_survey.q_10 %>">
      </div>

      <div>
        <label for="q_11_box">
          Q 11
        </label>

        <input type="text" id="q_11_box" name="query_q_11" value="<%= @the_new_user_survey.q_11 %>">
      </div>

      <div>
        <label for="q_12_box">
          Q 12
        </label>

        <input type="text" id="q_12_box" name="query_q_12" value="<%= @the_new_user_survey.q_12 %>">
      </div>

      <div>
        <label for="q_13_box">
          Q 13
        </label>

        <input type="text" id="q_13_box" name="query_q_13" value="<%= @the_new_user_survey.q_13 %>">
      </div>

      <div>
        <label for="q_14_box">
          Q 14
        </label>

        <input type="text" id="q_14_box" name="query_q_14" value="<%= @the_new_user_survey.q_14 %>">
      </div>

      <div>
        <label for="q_15_box">
          Q 15
        </label>

        <input type="text" id="q_15_box" name="query_q_15" value="<%= @the_new_user_survey.q_15 %>">
      </div>

      <div>
        <label for="q_16_box">
          Q 16
        </label>

        <input type="text" id="q_16_box" name="query_q_16" value="<%= @the_new_user_survey.q_16 %>">
      </div>

      <div>
        <label for="q_17_box">
          Q 17
        </label>

        <input type="text" id="q_17_box" name="query_q_17" value="<%= @the_new_user_survey.q_17 %>">
      </div>

      <div>
        <label for="q_18_box">
          Q 18
        </label>

        <input type="text" id="q_18_box" name="query_q_18" value="<%= @the_new_user_survey.q_18 %>">
      </div>

      <div>
        <label for="q_19_box">
          Q 19
        </label>

        <input type="text" id="q_19_box" name="query_q_19" value="<%= @the_new_user_survey.q_19 %>">
      </div>

      <div>
        <label for="q_20_box">
          Q 20
        </label>

        <input type="text" id="q_20_box" name="query_q_20" value="<%= @the_new_user_survey.q_20 %>">
      </div>

      <div>
        <label for="q_21_box">
          Q 21
        </label>

        <input type="text" id="q_21_box" name="query_q_21" value="<%= @the_new_user_survey.q_21 %>">
      </div>

      <div>
        <label for="q_22_box">
          Q 22
        </label>

        <input type="text" id="q_22_box" name="query_q_22" value="<%= @the_new_user_survey.q_22 %>">
      </div>

      <div>
        <label for="q_23_box">
          Q 23
        </label>

        <input type="text" id="q_23_box" name="query_q_23" value="<%= @the_new_user_survey.q_23 %>">
      </div>

      <button>
        Update new user survey
      </button>
    </form>
  </div>
</div>

<hr>
