<div class="offcanvas offcanvas-bottom offcanvasbutton" tabindex="-1" id="updategoal_<%= your_goal.id %>" aria-labelledby="updategoalLabel_<%= your_goal.id %>">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title goalheader" id="updategoalLabel_<%= your_goal.id %>">Update Goal</h4>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    

  <div class="row homebtncol">

  <h4> Your Goal:</h4> 
  
  </div>

  <div class="row homebtncol">

  <h1 class="goalheader"><%= your_goal.user_goal %>  minutes</h1> 
  
  </div>

  <div class="row mt-3 homebtncol">

  <h4> You Completed:</h4> 
  
  </div>

  <form action="/modify_goal/<%=your_goal.id%>">

  <div class="row homebtncol mt-2">
  <div class="col-md-4 d-grid needs-validation" novalidate>
    <input type="text" class="form-control textinput" id="updategoal" name="query_user_result" placeholder="minutes" required>
     <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  </div>


  <div class="row mt-5 homebtncol">
  <div class="d-grid gap-2">
    <button class="creategoalbtn">Update Goal <i class="fas fa-arrow-right fa-fw"></i></button>
  </div>
</div>
</form>

  </div>
</div>