<div class="row homebtncol">
  <h3>
    Create Goal
  </h3>
</div>

<div class="row homebtncol mt-2">
  <div class="card addcard text-center">
    <div class="card-body">
      <div class="col">
      <i class="<%=@category.icon%> fa-3x mt-2"></i>
      </div>
      <div class="col mt-2">
      <a><%=@category.category%></a>
      </div>
    </div>
  </div>
</div>

    <form action="/insert_goal" method="post">
      <div class="row mt-4 homebtncol needs-validation" novalidate>
        <label for="target_box" class="form-label formlabel"><h6><i class="fas fa-bullseye"></i> Target</h6></label>
        <div class="col-sm-1">
          <select class="form-select form-select-sm" aria-label="Default select example" name="query_user_goal">
            <option selected><%=@category.unit%></option>
            <option value="1">1 <%=@category.unit.singularize%></option>
            <option value="2">2 <%=@category.unit%></option>
            <option value="3">3 <%=@category.unit%></option>
          </select>
        </div>
      </div>
              
      <div class="row mt-2 homebtncol needs-validation" novalidate>
        <div>
          <label for="date_box" class="form-label formlabel"><h6><i class="fas fa-calendar-alt"></i> Date</h6></label>
          <input type="date" class="form-control form-control-sm" id="date_box" name="query_target_date" required>
        </div>
      </div>

       <div class="row mt-2 homebtncol">
        <div>
          <label for="steps_box" class="form-label"><h6>Incremental Steps</h6></label>
          <input id="steps_box" class="form-control" name="query_incremental_steps" placeholder="What steps will you take?" type="text">
        </div>
      </div>

      <div class="row mt-2 homebtncol">
        <div>
          <label for="steps_box" class="form-label"><h6>Reward</h6></label>
          <input id="steps_box" class="form-control" name="query_reward" placeholder="How will you celebrate your win?" type="text">
        </div>
         <div>
          <input id="category_box" class="form-control" name="query_category" value="<%=@category.category%>" type="hidden">
          <input id="user_id_box" class="form-control" name="query_user_id" value="<%=@current_user.id%>" type="hidden">
        </div>
      </div>

      <div class="row mt-4 homebtncol">
        <div class="d-grid gap-2">
          <button class="btn goalbtn">Create Goal</button>
        </div>
      </div>

    </form>
