<div class="row homebtncol">
<div class="row mt-2">
</div>
  <div class="col">
    <h4>Your Goals</h4>
  </div>
</div>

<% @list_of_goals.each do |a_goal| %>
  <% if a_goal.status == "Created" %>
    <% category = a_goal.category %>
      <% the_category = GoalCategory.where({ :category => category }).at(0) %>
        <div class="row mt-2 homebtncol">
          <div class="card goalcard">
            <div class="card-body">
              <div class="row no-gutters">
                <div class="col-auto">
                  <h6><i class="<%= the_category.icon %> fa-4x"></i></h6>
                </div>
                <div class="col-auto">
                  <div class="row no-gutters">
                  <a><%= a_goal.category %></a>
                  </div>
                  <div class="row no-gutters mt-1">
                  <h6><%= a_goal.user_goal %> <%= the_category.unit%></h6>
                  </div>
                  <% if a_goal.target_date != Date.today %>
                  <div class="row no-gutters">
                    <a><i class="fas fa-calendar-alt"></i> <% diff = a_goal.target_date - Date.today %>  <%= diff.to_i%> days away</a>
                  </div>
                  <% elsif a_goal.target_date == Date.today %>
                  <div class="row no-gutters">
                    <a><i class="fas fa-calendar-alt"></i> Today</a>
                  </div>
                  <% else %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>  
  <% end %>
<% end %>

  <div class="row mt-1 g-1">
    <div class="col-6 text-center">
      <div class="row mt-2 homebtncol">
        <div class="card addcard">
          <div class="card-body">
            <a href="/creategoal"><h6 class="mt-2"><i class="fas fa-trophy fa-3x"></i></h6></a>
            <a>New Goal</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 text-center">
      <div class="row mt-2 homebtncol">
        <div class="card addcard">
          <div class="card-body">
            <h6 class="mt-2"><i class="fas fa-book-medical fa-3x"></i></h6>
            <a>Pain Diary</a>
          </div>
        </div>
    </div>