

     <div class="row no-gutters">
          <a><i class="fas fa-calendar-alt"></i> <% diff = a_goal.target_date - Date.today %>  <%= diff.to_i%> days away</a>
          </div>


    <form action="/modify_goal/<%= @the_goal.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

     
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_goal.user_id %>">
      </div>

      <div>
        <input type="text" id="user_result_box" name="query_user_result" value="<%= @the_goal.user_result %>">
      </div>

      <div>
        <label for="target_date_box">
          Target date
        </label>

        <input type="date" id="target_date_box" name="query_target_date" value="<%= @the_goal.target_date %>">
      </div>

      <div>
        <label for="incremental_steps_box">
          Incremental steps
        </label>

        <input type="text" id="incremental_steps_box" name="query_incremental_steps" value="<%= @the_goal.incremental_steps %>">
      </div>

      <div>
        <label for="reward_box">
          Reward
        </label>

        <input type="text" id="reward_box" name="query_reward" value="<%= @the_goal.reward %>">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status" value="<%= @the_goal.status %>">
      </div>

      <button>
        Update goal
      </button>
    </form>
  </div>
</div>

<hr>
